# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Local Databases
*.db

# Test Files
test_*.py
generate_hash.py

# VS Code
.vscode/

# Logs
*.log

# Streamlit
.streamlit/